{% extends "blogtemplate.html" %}

{% block inner %}
    <div class="blog-text">
        <p>
            Томас Джефферсон когда-то назвал петицию Миссури о принятии в состав США на правах штата «тревожным звоночком», предвещавшим войну. 
            Для меня тревожным звоночком была первая крупная группа африканских иммигрантов, пойманных на южной границе. Они знали правовые 
            лазейки, которые можно использовать, чтобы их впустили в страну. Это предвещает гибель.
        </p>
            <br>
        <p>Мое предчувствие подпитывает то, что Стив Сейлер называет «самым важным графиком в мире».</p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/DemorgaficProblemsAfrika/troubles.jpg')}}">
        </div>
            <br>
        <p>
            Если нынешние прогнозы подтвердятся, то население стран Африки к югу от Сахары увеличится в этом столетии до более чем 4 миллиардов 
            человек. Это будет 18-кратное увеличение за 150 лет.
        </p>
            <br>
        <p>
            В 2017 году Pew Research 2017 спросил африканцев, хотят ли они эмигрировать. Три четверти людей в Гане, почти столько же в Нигерии, и 
            более половины в Южной Африке — стране с самой развитой экономикой черной Африки — сказали «да».
        </p>
            <br>
        <p>
            С 2010 года страны Африки к югу от Сахары составляют восемь из 10 наиболее быстро растущих групп мигрантов. В 2017 году около 25 
            миллионов чернокожих мигрантов жили за пределами своих стран. Чернокожие поглотят Европу и Северную Америку, если мы не прекратим их 
            впускать.
        </p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/DemorgaficProblemsAfrika/grapth.jpg')}}">
        </div>
            <br>
        <p>
            Билл Гейтс знает об этой тенденции населения. «К концу столетия почти половина молодых людей в мире будет жить в странах Чёрной 
            Африки», – сказал он в недавнем видео. Его фонд уже тратит половину своих денег на Африку, выделяя средства на медицину, образование 
            и экономическое развитие.
        </p>
            <br>
        <p>
            Что же Гейтс ожидает взамен?
        </p>
            <br>
        <div class="idea-block-2">
            <div class="idea">
                Молодые люди могут быть огромным активом, если они здоровы и образованны. Они стимулируют экономический рост, они стимулируют 
                инновации. Таким образом, перед мировым сообществом стоит задача инвестировать в молодежь. Улучшение их здоровья и образования 
                действительно окупается.
            </div>
        </div>
            <br>
        <p>
            Как мистер Гейтс может в это верить? Тем не менее, он не полностью невосприимчив к фактам. «Проще говоря, десятилетия прогресса в 
            борьбе с бедностью и болезнями могут оказаться на грани срыва», — отметил Гейтс в 2018 году. «Африка должна почти в четыре раза 
            увеличить свою сельскохозяйственную производительность, чтобы прокормить себя», — сказал он в другом интервью. «Это выглядит как 
            невыполнимая задача».
        </p>
            <br>
        <p>
            Г-н Гейтс неоднократно призывал к усилению контроля над рождаемостью в Африке, но, при этом, он финансирует программы, увеличивающие 
            население и снижающие смертность. Его усилия создают вечно растущее африканское население, которое нуждается в еще большей 
            метериальной и технологической помощи Запада, чтобы выжить. Растущее африканское население наводняет Запад, где африканцы становятся 
            иждивенцами. А это в свою очередь сокращает способность Запада ухаживать за Тёмным Континентом.
        </p>
            <br>
        <p>
            Мистер Гейтс, кажется, осознаёт все это, но его парализует политкорректность. Зачем отчаянно призывать к контролю над рождаемостью, 
            если африканская молодежь должна принести экономический рост?
        </p>
            <br>
        <p>
            Возможно, это потому, что мистер Гейтс что-то слышал об IQ. «Средний IQ в странах Чёрной Африки составляет около 82», — сказал он в 
            2013 году. Однако он заявил, что «он не имеет ничего общего с генетикой, расой или чем-то подобным — это как болезнь, и этоименно это 
            то, что с вами делает болезнь».
        </p>
            <br>
        <p>
            Мистер Гейтс ценит интеллект. Согласно разговору, перерассказанному Ричем Карлгаардом, г-н Гейтс сказал об успехе в бизнесе: 
            «Все дело в IQ. Вы выигрываете с IQ». Microsoft была известна тем, что создавала тесты, чтобы измерить интеллект потенциальных 
            сотрудников.
        </p>
            <br>
        <p>
            Но Фонд Гейтса не может повысить результаты тестов в Америке, не говоря уже об Африке. Недавно он признал, что инициатива в 575 млн. 
            долларов по преобразованию практики оценки, компенсации и трудоустройства учителей, особенно в школах для меньшинств с низким доходом, 
            потерпела полный провал. А возможно и усугубила ситуацию. Как Билл Гейтс рассчитывает трансформировать африканцев к югу от Сахары?
        </p>
            <br>
        <p>
            Недавно Гейтс сказал, что «интеллект требует различных реформ» и «не так важен, как я привык думать». Возможно, он пытается избежать 
            политических мин, поджидающих любого, кто говорит об интеллекте.
        </p>
            <br>
        <p>
            Билл Гейтс не одинок среди миллиардеров, которые накопили богатство с помощью амбиций и интеллекта, но теперь растрачивают деньги во 
            имя эгалитаризма. Марк Цукерберг потратил 100 миллионов долларов на улучшение государственных школ Ньюарка, штат Нью-Джерси. Мэр 
            Ньюарка, Рас Барака, сын анти-белого и антисемитского поэта Амири Барака, обвинил филантропов в том, что они «прыгают с парашютом» в 
            город и не работают с местными жителями. Марк Цукерберг даже не получил признания за свою добродетель.
        </p>
            <br>
        <p>
            Майкл Блумберг сделал свое состояние, продав специализированный информационный сервис трейдерам ценными бумагами. Он был предназначен 
            для людей с высоким IQ, которые не могут оправдываться за неудачу. Тем не менее, г-н Блумберг недавно пожертвовал 1,8 миллиарда 
            долларов своему университету альма-матер Джона Хопкинса, чтобы создать более «социально-экономически разнообразную студенческую 
            группу». Никто не критиковал г-на Блумберга за то, что он тратил деньги на «разнообразие» вместо того, чтобы финансировать научные 
            или медицинские исследования. Он был раскритикован, потому что не дал эти 1,8 миллиарда долларов местным колледжам.
        </p>
            <br>
        <p>
            Западная элита не дураки. Билл Гейтс, Марк Цукерберг и Майкл Блумберг очень умны и не верят в «равенство», когда речь идет о наборе 
            сотрудников. [прим. Впрочем их собственные программы по массовому набору меньшинств ставят даже это под сомнение.] Тем не менее, в 
            благотворительности они утратили свое мнение о расовых проблемах и эгалитарной пропоганде. В лучшем случае они тратят свои деньги 
            впустую. А если честно, они делают мир хуже.
        </p>
            <br>
        <p>
            Предотвратить проблему, связанную с растущим населением Африки, может только четкое представление о расе. Равнодушие в отношении 
            перспективы африканской планеты – опасная глупость. Западу нужна элита, которая вкладывает свои ресурсы в превосходство, а не в 
            равенство. Такая элита требует от мужчин не только интеллекта, но и мужества. Есть ли такие мужчины? От ответа зависит будущее нашей 
            цивилизации – и всего мира.
        </p>
            <br>
        <a class="bold" target="_blank" href="https://www.amren.com/commentary/2019/06/the-african-population-bomb/">Оригинальная статья на английском: https://www.amren.com/commentary/2019/06/the-african-population-bomb/</a>
    </div>
{% endblock %}