{% extends "blogtemplate.html" %}

{% block inner %}
    <div class="blog-text">
        <div class="idea-block-3">
            <p class="idea">Опять, как в годы золотые,</p>
            <p class="idea">Три стертых треплются шлеи,</p>
            <p class="idea">И вязнут спицы расписные</p>
            <p class="idea">В расхлябанные колеи…</p>
                <br>
            <p class="idea">И невозможное возможно,</p>
            <p class="idea">Дорога долгая легка,</p>
            <p class="idea">Когда блеснет в дали дорожной</p>
            <p class="idea">Мгновенный взор из-под платка,</p>
            <p class="idea">Когда звенит тоской острожной</p>
            <p class="idea">Глухая песня ямщика!..</p>
                <br>
            <p class="idea">Ну что ж? Одной заботой боле —</p>
            <p class="idea">Одной слезой река шумней</p>
            <p class="idea">А ты все та же — лес, да поле,</p>
            <p class="idea">Да плат узорный до бровей…</p>
                <br>
            <p class="idea">Пускай заманит и обманет,-</p>
            <p class="idea">Не пропадешь, не сгинешь ты,</p>
            <p class="idea">И лишь забота затуманит</p>
            <p class="idea">Твои прекрасные черты…</p>
                <br>
            <p class="idea">Тебя жалеть я не умею</p>
            <p class="idea">И крест свой бережно несу…</p>
            <p class="idea">Какому хочешь чародею</p>
            <p class="idea">Отдай разбойную красу!</p>
                <br>
            <p class="idea">Россия, нищая Россия,</p>
            <p class="idea">Мне избы серые твои,</p>
            <p class="idea">Твои мне песни ветровые,-</p>
            <p class="idea">Как слезы первые любви!</p>
        
            <div class="idea-author">Александр Блок</div>
        </div>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/HowRussiaDied/video-1.gif')}}" alt="">
        </div>
            <br>
        <h3>Как всё начиналось…</h3>
            <br>
        <p>
            ХХ век можно признать самым губительным для России. Русско-японская война, Первая русская революция, Первая Мировая война, 
            Октябрьская революция, Гражданская война, Большой террор, Великая Отечественная война, 90-е. Сколько русских людей сложили свои 
            головы, сколько людей легло на плаху двадцатого века. Где же мы так согрешили, где же были совершенны те роковые ошибки, приведшие к 
            гибели Империи?
        </p>
            <br>
        <p>
            Начинаешь думать, а если бы всего этого не было, что если не было бы революций и Гражданской войны, что если бы мы были на стороне 
            победителей в Первой Мировой войне. Голова начинает идти кругом! Сразу вспоминается цитата последнего русского императора Николая 
            Второго.
        </p>
            <br>
        <div class="idea-block-2">
            <p class="idea">
                «Я схожу с ума, когда думаю о перспективах России, мы станем самым великим народом, самым великим государством, всё в мире будет 
                делаться с нашего разрешения»
            </p>
            <div class="idea-author">Николай Второй — последний император Российской империи</div>
        </div>
            <br>
        <p>
            В последние годы своего существования в России начинается небывалый экономический рост, которые данные приведены ниже в инфографике. 
            Для получения более четкой картины происходящего, советуем советуем посмотреть видео от Ватоадмина <a target="_blank" href="https://www.youtube.com/watch?v=HC1cC94rYLw&amp=&t=4722s"> «Россия в 1913»</a>
        </p>
            <br>
        <p>
            Первый удар нанесли Русско-японская война и Первая русская революция. Война привела к деморализации армии и уничтожению львиной доли 
            русского флота в Цусимском сражении, в ней Россия потеряла 5045 убитых, 803 раненых и 6016 взятых в плен матросов. Японские потери 
            составили: 117 убитых и 538 раненых. Либерально настроенные русские студенты отправляли поздравительные письма японскому императору 
            (в этом отношении за почти 12 десятилетий мало что изменилось, разве что к студентам примкнули школьники). Мукден и сдача Порт-Артура 
            также способствовали поражению русской армии. Начавшаяся в тылу революция окончательно убедила Николая Второго идти на мировую с Японией, 
            хотя генералы утверждали, что еще чуть-чуть и японские самураи устанут, разболеются, и мы их всех голыми руками передушим, но император 
            стоял на своём. По решению мирного договора Россия потеряла Маньчжуриюи южную часть острова Сахалин.Потери русской армии составили 43 
            300–120 000 человек, японская армия потеряла 58 000–86 100 человек. Так же в этой войне проявилось двуличие либералов требовавших Николая 
            закончить войну, а после мира упрекавших его в потере земель.
        </p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/HowRussiaDied/grapth.jpg')}}">
        </div>
            <br>
        <h3>От 9 января к 17 октября</h3>
            <br>
        <p>
            Вернемся в Россию, там во всю идёт Буржуазно-демократическая революция, начавшаяся Кровавым воскресеньем — расстрелом рабочей 
            демонстрации 9 января 1905 года. Относительно неё следует сказать, что требования демонстрантов были абсурдными, а в толпе работали 
            провокаторы, начавшие стрелять первыми. Также бессмысленно обвинять в гибели мирных людей Николая II: его просто не было в городе, он 
            был в Царском Селе.
        </p>
            <br>
        <p>
            Весной 1905 года, на фоне известий о поражении в Цусимском проливе, народные волнения усилились. Летом император способствовал 
            прекращению революционного брожения, издав указ о свободе вероисповеданий, но это не помогло. Также летом готовился созыв 
            Всероссийского Православного Собора, но из-за волнений он не состоялся. Мирный договор с Японией, по которому Россия не выплачивала 
            контрибуцию, тоже не смог остановить всплески народного неповиновения.
        </p>
            <br>
        <p>
            К октябрю ситуация в стране, несмотря на прекращение войны, представляла тотальный коллапс: рабочие заводов выходили на протестные 
            акции, забастовка железнодорожников парализовала страну, крестьяне грабили и жгли поместья дворян. 17 октября 1905 года, под 
            давлением не столько обстоятельств, сколько двух своих приближённых — великого князя Николая Николаевича-младшего и графа Сергея 
            Витте — император подписал Высочайший манифест «О преобразовании государственного порядка». Этот царский указ наделял подданных 
            Российской империи гражданскими правами, учреждал полноправный всероссийский парламент — Государственную Думу и призывал «всех 
            верных сынов Отечества» к лояльности Правительству и поддержанию порядка.
        </p>
            <br>
        <h3>Свирепствующий демон революции</h3>
            <br>
        <p>
            Неотъемлемой частью русской революции являлся террор. В период первой революции и после неё террор принимает ужасающие масштабы.
            Члены боевой организации партии социалистов-революционеров устраивали теракт за терактом. Жертвами насилия становились как высшие 
            лица государства (министр народного просвещения Боголепов, министр внутренних дел Плеве), так и простые мирные люди. Ниже приведена 
            небольшая инфографика по террору.
        </p>
            <br>
        <div class="img">
            <img href="{{url_for('static', filename='content/blog_media/HowRussiaDied/rev.jpg')}}">
        </div>
            <br>
        <div class="idea-block-2">
            <p>
                Никаких переговоров с самодержавием! Изменник тот, кто протягивает руку разлагающемуся порядку…. Да здравствует всенародное 
                восстание!
            </p>
            <div class="idea-author">— из листовки РСДРП «В борьбе» (сентябрь-октябрь 1905 года)</div>
        </div>
            <br>
        <p>
            Но венцом движения 1905 года стало декабрьское вооружённое восстание в Москве. Для его подавления из Санкт-Петербурга были отправлен 
            Лейб-гвардии Семёновский полк. Общее руководство борьбой с вооружёнными дружинами революционеров было возложено на премьер-министра 
            Сергея Юльевича Витте. Восстание было подавлено крутыми мерами, современники отмечали жёсткость действий правительственных войск. 
            Позже Николай II назовёт своего бывшего премьера «хамелеоном», способным менять гнев на милость, в чём его убедили события декабря 
            1905 года.
        </p>
            <br>
        <h3>Столыпин. Передышка</h3>
            <br>
        <p>
            Летом 1906 года Николай II назначает Петра Аркадьевича Столыпина, уже проявившего свою преданность престолу, премьер-министром, и 
            уже в ноябре стартует его агарная реформа, узаконивающая выход крестьянина из общины и гарантирующая право переселения из деревни в 
            город. На волне преобразования выступления революционных масс пошли на спад.
        </p>
            <br>
        <p>
            Параллельно с этим наладилась работа Государственной Думы — III созыв парламента, начав работу в 1907 году после двух неудачных 
            попыток, проработал все пять отведённых законом лет. В 1910 году Столыпин после инспекционной поездки по азиатским владениям России 
            предложил переселять (на добровольной основе) крестьян в Западную Сибирь и Туркестан, предоставляя им значительные льготы.
        </p>
            <br>
        <p>
            К 1917 году переселились примерно 3 миллиона крестьян, из которых полмиллиона вернулись обратно. Даже с такой оговоркой, цифра 
            большая, но в условиях годовой прибыли населения в 3 миллиона человек этого было мало. После начала Первой мировой войны темпы 
            реформ, достигнув пика в 1913 году, пошли на спад. Сам Столыпин пал жертвой террориста в 1911 году. Клубок тайн и загадок вокруг 
            его убийства, да и его самого как личности, существует до сих пор.
        </p>
            <br>
        <h3>Последний акт трагедии</h3>
            <br>
        <p>
            В 1914 году случилось то, что послужило началом тяжелых для России времён — Первая Мировая война. По началу в русском обществе 
            господствовали патриотические настроения. Фанатично настроенные люди даже разгромили и подожгли посольство Германии. Русский народ, 
            озлобленный на немцев, устроил их систематические побои, доходило до погромов заведений, принадлежавших немцам. Город Санкт-Петербург 
            был переименован в Петроград.
        </p>
            <br>
        <p>
            Однако Великое отступление Русской Императорской Армии, оставившей Польшу и часть Белоруссии и Прибалтики, снарядный голод, плохое 
            снабжение, неспособность правительства стабилизировать ситуацию с поставками на фронт, разложение дисциплины под действием 
            революционной агитации — всё это негативно сказалось на Российской империи, как слаженной системе. После Совета Министров Ивана 
            Горемыкина (февраль 1914 — январь 1916) премьеры и министры менялись через несколько месяцев, что было свидетельством кризиса власти. 
            Думские прогрессисты под руководством Петра Милюкова предпринимали все меры к дискредитации власти.
        </p>
            <br>
        <p>
            В то же время, после Брусиловской наступательной операции, на фронте наступило затишье. Русское командование готовило итоговое 
            наступление весной 1917 года. С целью координации действий войск Николай Второй отбыл на фронт в феврале 1917. Во время его 
            нахождения в Ставке в Петрограде начались массовые забастовки рабочих и женщин. Выдвигались требования мира, борьбы с царизмом, 
            решения продовольственного кризиса. Председатель Думы Родзянко в этой ситуации смог убедить командующих фронтами согласится с его 
            предложением об отречении Николая II от престола. Считая происходящее Божьей волей, император решил не спорить с мнением окружения. 
            Он также отрекался от престола и за своего сына, таким образом, императором становился его брат — Михаил. Но прогрессисты смогли 
            убедить и его не вступать на престол. Фактически, монархия в России перестала существовать. Наступление не состоялось, а мене чем 
            через год будет подписан унизительный Брестский мир — скатывающаяся в пропасть гражданской войны Россия проиграет проигравшим.
        </p>
            <br>
        <h3>Жертвы Гражданской войны</h3>
            <br>
        <p>
            По имеющимся на сегодняшний день данным, общие потери в годы Гражданской войны составили 12,5 миллионов человек, причём от голода и 
            эпидемий погибло 6 миллионов, а в результате боёв и террора – 4,5 миллиона. Что особенно характерно, жертв белого террора было 
            примерно 300 тысяч, красного — около 1 миллиона 200 тысяч. Уехало из страны 2 миллиона человек. Таковы были масштабы самой кровавой 
            смуты в истории России.
        </p>
    </div>
{% endblock %}