{% extends "blogtemplate.html" %}

{% block inner %}
    <div class="blog-text">
        <div class="row">
            <div class="img">
                <img src="{{url_for('static', filename='content/blog_media/KenyanHero/kenyanhero.jpg')}}">
            </div>

            <p>
                Ближе всех к месту национального героя Кении приблизился Дедан Кимати. Помимо его гигантской и непривлекательной статуи на 
                улице Кимати в Найроби, его имя украшает крупнейший университет Ньери. Кенийские мужчины, особенно принадлежащие к племени 
                Кимати — кикуйю, поощряются быть похожими на людей, сражавшихся с англичанами во время восстания мау-мау в 1950-х годах.
            </p>
        </div>
            <br>
        <div class="block-idea-1">
            <p class="idea">
                Протестующий с плакатом стоит возле статуи Дедана Кимати. Протестующие вышли на улицы, чтобы призвать правительство арестовать 
                людей, причастных к массовым коррупционным скандалам.
            </p>
        </div>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/KenyanHero/image2.jpg')}}">
        </div>
            <br>
        <p>
            В книге Филиппа Гудхарта и Йена Хендерсона «Охота на человека» нет места описанию нереалистичной версии Кимати — борца за свободу, 
            интеллектуала и мученика. Опубликованный в 1958 году, это тонкое, но насыщенное действем издание описывает, как Хендерсон и горстка 
            европейцев (в основном британцев, родившихся в Кении) превратили бывших антибританских террористов в «псевдо-банды», чтобы уничтожить 
            партизанскую сеть Кимати. Когда Хендерсон не описывает великолепие Британской Кении, он описывает Кимати:
        </p>
            <br>
        <div class="idea-block-2">
            <p class="idea">
                Выход британцев из Индии оказал глубокое влияние на Кимати, и он также знал о террористической деятельности Египта в зоне 
                Суэцкого канала. Он знал о существовании Советского Союза, но теория коммунизма и тонкости диалектического материализма для него 
                ничего не значили. Однако он знал Библию так же хорошо, как многие проповедники-миряне. Он говорил притчами, и его слова были 
                полны намеков и цитат из Библии.
            </p>
        </div>
            <br>
        <p>
            Слова Кимати могут звучать как слова любого сумасшедшего уличного проповедника, но на деле он был самым злобным и могущественным 
            лидером повстанцев Мау-Мау. Будучи молодым человеком, Кимати впитывал в себя антибелую риторику кенийского движения за независимость 
            Джомо Кениатты, плюс безумная версия христианства Кимати изображала его самого как африканского Христа. Он также твердо верил в 
            древнюю религию кикуйю, но не уважал племенных старейшин, которых он считал подчиненными англичанам. Кимати повёл свое восстание в 
            горы и леса, где он убил нескольких своих последователей. Задачей же Хендерсона и его людей было выследить его.
        </p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/KenyanHero/Yean.jpg')}}">
            <p class="author">Йен Хендерсон</p>
        </div>
            <br>
        <p>
            Хендерсон вырос в Белом нагорье Кении в Великой рифтовой долине. Его семья была шотландскими иммигрантами, а его отец Джок служил 
            с британскими солдатами в партизанской войне в немецкой Восточной Африке. Ян унаследовал суровый дух своего отца, и большую часть 
            своей юности он провел, ухаживая за фермой семьи и исследуя густые леса вокруг нее. В 18 лет, когда заканчивалась Вторая мировая 
            война, он добровольно вызвался в британскую колониальную полицию. Его физическое состояние и знание языка кикуйю сделали его 
            бесценным после того, как в 1950 году началось серьезное восстание Мау-Мау.
        </p>
            <br>
        <p>
            Происхождение движения и названия Мау Мау весьма смутно. В «Охоте на человека» в Кении Хендерсон и Гудхарт убеждены, что движение 
            было создано и направлено Джомо Кеньяттой и партией Кенийского африканского национального союза. Другие историки редко заявляют об 
            этом, но большинство все равно хотят обвинить их в насилии над британцами. Все наблюдатели согласны с тем, что Мау-Мау ненавидели 
            британцев и всех белых людей и считали насилие самым простым способом обрести независимость для кикуйю.
        </p>
            <br>
        <p>
            Первыми членами тайного общества Мау-Мау были профсоюзные деятели и радикальные студенты из городов Найроби и Ньери. Эти боевики 
            двинулись в поселения кикуйю и приняли участие в церемониях дачи клятвы с жертвоприношениями жира и крови животных, где дали обещание 
            избавить Кению от европейцев и поклялись в верности богу кикуйю Нгай. Нарушение этой клятвы означало смерть для нарушителя. 
            Противостоять Мау Мау или его цели черной власти в Кении также означало смерть.
        </p>
            <br>
        <p>
            В 1952 году комиссар полиции Майкл О’Рурк, закалённый в боях ветеран Палестинской полиции, узнал о новых церемониях клятвы кикуйю в 
            рифтовой долине и районе Найроби, которые требовали от приверженцев готовности убивать белых. Великий палеоантрополог Луи Лики, также 
            уроженец Британской Восточной Африки, слышал христианские гимны, исполняемые на этих церемониях, хотя и во славу Кеньятты, а не Иисуса. 
            Белые поселенцы в основном игнорировали эти предупреждающие знаки.
        </p>
            <br>
        <p>
            Центральное нагорье стало известно как Белое нагорье, потому что небелые поселения были в той местности весьма малочисленны. 
            «Счастливая долина» пила, принимала героин и прелюбодействовала в своих ухоженных фермерских домах, от чего большинство кикуйю в 
            Кении бурлило от негодования. Обида вскипела в 1952 году.
        </p>
            <br>
        <p>
            Вначале мау-мау убивали и уничтожали овец и коров, принадлежавших европейским фермерам. Первым важным убийством был старший шеф 
            Варухиу Кунгу, вождь кикуйю, которого Мау Мау считали предателем. Боевики, одетые как полицейские, застрелили его в машине в семи 
            милях от Найроби, в результате убийства, губернатор Эвелин Бэринг объявила о чрезвычайном положение в колонии. Это заявление означало, 
            что британские чиновники могли начать совместные полицейские и военные операции, наряду с переселенческими кампаниями, в ходе которых 
            кикуйю перемещали в лагеря временого содержания.
        </p>
            <br>
        <p>
            Кампания по переселению (которая имела большой успех против коммунистических повстанцев в Британской Малайе) не остановила убийства 
            Мау Мау. 23 сентября и 3 октября 1952 года Мау Мау зарезал двух британских женщин на их ферме около Тики. В январе 1953 года около 
            30 Мау Мау убили семью Рук — фермера Роджера Рука, его беременную жену и их шестилетнего сына — в их доме в Рифт-Валли. Газеты 
            сообщали, что семью «порезали пангами», тип тяжелого ножа, предпочитаемого кикуйю; позже стало известно, что нападавшие не торопились, 
            пытая своих жертв. Рук управлял местной больницей для кикуйю…
        </p>
            <br>
        <p>
            Другие европейские жертвы включали 83-летнего мужчину, который был забит до смерти, и Грея Лики, двоюродного брата Луиса Лики. 
            Грей свободно говорил на языке кикуйю и представлял Джомо Кеньятту на суде. Мау Мау вошли в семейный дом в Северном Ньери, задушили 
            миссис Мэри Лики, и отвели Грэя в леса горы Кения. Там они съели части его тела и похоронили его заживо вниз головой. В общей 
            сложности Мау Мау убило 32-х европейцев, еще больше азиатов (большинство из которых были индейцами) и тысячи африканцев. Наихудшим 
            злодеянием Мау-Мау было убийство около ста кикуйю, многие из которых состояли в про-британской гвардии кикуйю.
        </p>
            <br>
        <p>
            Хаос в таких масштабах требовал большей мобилизации вооружённых сил. В конце 1955 года полиция разработала план по захвату и 
            превращению бывших террористов Мау-Мау в проправительственных боевиков. Эти бывшие мау-мау и их европейские офицеры, маскировались 
            в кустах, чтобы выслеживать, часто полунезависимые группы мау-мау. Хендерсон и его люди преуспели в этой войне. В книге «Охота на 
            человека» в Кении Хендерсон описывает меры, которые он предпринял, чтобы «флипфлопнуть» террористов и превратить их в союзников.
        </p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/KenyanHero/Kikuy.jpg')}}">
            <p class="author">Члены племени кикуйю, работающие в составе контргруппы, выслеживают повстанцев Мау-Мау</p>
        </div>
            <br>
        <p>
            Иногда сам Кимати с легкостью наказывал людей из-за своего жестокого стиля руководства. Он избивал или душил любого, кто обвинялся в 
            шпионаже в пользу британцев или в попытке соблазнить его жену. Хендерсон использовал суеверие Кикуйу против Кимати, который 
            использовал колдунов и тому подобное, чтобы держать своих солдат в строю. Бойцы Мау-Мау верили в приметы, пророчества и обещания 
            местных колдунов, которые призывали благословения племенных богов перед началом военных набегов.
        </p>
            <br>
        <p>
            Хендерсон пытался выманить Кимати из укрытия в 1956 году с помощью закодированных писем, оставленных в почтовых ящиках Мау-Мау, 
            которые были не более чем обозначенными деревьями. Когда эта попытка провалилась, Хендерсон покрыл лицо кремом для обуви и попытался 
            приблизиться к лидеру Мау Мау. И эта попытка не увенчалась успехом, поскольку, в отличие от Мау-Мау, тело Хендерсона знавало текстуру 
            и запах мыла. После этого, Хендерсон и другие европейцы окончательно отбросили идею, что они могут когда-либо смогут сойти за 
            африканцев. Большую часть времени его солдаты боролись с дождем и с дикими животными, но когда они натыкались на Мау Мау, то убивали 
            или захватывали их.
        </p>
            <br>
        <p>
            Что касается Кимати, он становился все более параноидальным. Ближе к концу, в 1956 году, он часто говорил со своими последователями о 
            том, что он задушит свою жену и совершит самоубийство на вершине горы Кения. 21 октября 1956 года, после того, как Кимати убежал от 
            британского и кенийского патруля, его подстрелил пробританский ополченец Кикуйю. Британцы обработали его раны и предали его суду 
            перед абсолютно черными присяжными. Он признал его виновным, и 18 февраля 1957 года Кимати был повешен в тюрьме строгого режима 
            Камити. Никто не знает, где он похоронен.
        </p>
            <br>
        <p>
            Человек, наиболее ответственный за привлечение Кимати к ответственности, находился далеко в Найроби в тот день, когда Кимати был 
            схвачен; Хендерсон и его жена были представлены Ее Высочеству принцессе Маргарет на приёме гостей в саду. Хендерсон продолжал быть 
            знаменитостью в Кении (или, по крайней мере в белой Кении), пока она не стала независимой в 1962 году. Новое черное правительство 
            Джомо Кеньятты выслало его.
        </p>
            <br>
        <p>
            Хотя в 1962 году Британская империя практически исчезла, у Хендерсона все еще была имперская мечта. Вместо отступления в «Маленькую 
            Англию» он остался за границей, а в 1966 году был назначен главой службы безопасности Бахрейна. Хендерсон занимал этот пост до 1998 
            года, но получил прозвище «Мясник» за то, что якобы санкционировал пытки политзаключенных. Он был героем только с 1956 по 1957 год. 
            Всю оставшуюся жизнь он был злодеем: убийцей кимати и эксплуататором арабов Персидского залива.
        </p>
            <br>
        <p>
            Многие чернокожие, включая Нельсона Манделу, который сам был террористом, восхваляют Кимати как африканскую Жанну д’Арк. 
            Фактически, он был чем-то вроде Трейвона Мартина или Майкла Брауна в более широком масштабе. Он убил гораздо больше африканцев и 
            азиатов, чем европейцев, и был побежден фермерским мальчиком, ставшим полицейским.
        </p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/KenyanHero/main.jpg')}}">
        </div>
            <br>
        <div class="idea-block-2">
            <p class="idea">Оригинальная статья на английском: <a href="https://www.amren.com/features/2019/05/kenyas-national-hero-a-terrorist/" target="_blank">https://www.amren.com/features/2019/05/kenyas-national-hero-a-terrorist/</a></p>
            <p><a href="https://vk.com/mishamutit" target="_blank">Перевёл Лебедев Михаил</a></p>
        </div>
    </div>
{% endblock %}