{% extends "blogtemplate.html" %}

{% block inner %}
    <div class="blog-text">
        <blockquote class="idea-block-1">
            <div class="idea">
                Русские люди вообще широкие люди… широкие, как их земля…
            </div>
            <div class="idea-author">Фёдор Достоевский</div>
        </blockquote>
            <br>
        <p>
            Что же, видимо и русский национализм столь же широк, как и русские люди. Это идеологическое движение в наше время представляет 
            себя весьма разнообразное явление. Пожалуй, главная особенность его — его децентрализованность как части политического пространства 
            страны. Таково его настоящее положение. Но ведь он каким-то образом до него дошёл, а значит, как-то появился и жил все эти годы. 
            Данная статья охватывает период становления русского национализма — 1980-1990-е гг. 
        </p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/NaciolismHistory/NaciolismHistory.jpg')}}">
        </div>
            <br>
        <p>
            Итак, любая система координат подразумевает точку отсчёта. И для русского национализма, который мы знаем, этой точкой отсчёта можно 
            считать 1980 год. В этом году было основано историко-культурное общество «Память», которое в будущем сыграет видную роль в развитии 
            нашего национализма. Неискушённый читатель имеет полное право заявить, что никакого русского национального движения в 1980 году не 
            могло быть, ведь тогда у власти находился Брежнев, при котором диктатура в СССР достигла своего апогея (второго после Сталинской 
            эпохи), и любое русское националистическое/монархическое/православное движение не то, что оказалось бы под запретом, — отправилось 
            этапом в Сибирь. Но с «Памятью» не всё так просто: изначально она являлась лишь обществом любителей истории, ни о какой политике речи 
            не шло. Учреждали её люди, изначально далёкие от национализма (инженер Министерства авиационной промышленности Г. Фрыгин, музыканты В. 
            и Е. Поповы, слесарь К. Андреев, артист В. Кузнецов, полковник МВД А. Лобзов). Но это только пока.
        </p>
            <br>
        <p>
            Одновременно с появлением «Памяти» в СССР начинается т. н. «пятилетка пышных похорон» — уходят из жизни многие из числа руководителей 
            партии и правительства. Она началась с гибели в автокатастрофе генсека компартии Белоруссии П. М. Машерова. За ним последовали Косыгин 
            (премьер-министр), Суслов (главный идеолог), Брежнев (в представлении не нуждается) и многие другие. Избранные после Брежнева генсеки — 
            Андропов и Черненко — в сумме правили всего два с половиной года. Советский режим, вступив в фазу стагнации при Брежневе, начал 
            скатываться в кризис. Тем временем всё укреплялась позиция экономиста-агронома из Ставрополья, самого молодого функционера того 
            времени. Да-да, вы угадали, речь идёт о Михаиле Сергеевиче Горбачёве. Он достаточно продолжительное время продвигался по карьерной 
            лестнице. В 1971 году он стал членом ЦК КПСС, а уже в 1980 году — членом Президиума. Курировал сельское хозяйство. Сразу скажем, что 
            неприемлемы никакие теории, согласно которой Горбачёв разрушал СССР преднамеренно. Почему? Войдите в его положение: вы работаете 
            большую часть жизни, десятилетиями стремитесь к высшей должности в стране (и к положению одного из самых влиятельных людей в мире). 
            Стали бы вы разрушать основание своего личного могущества? И я бы не стал.
        </p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/NaciolismHistory/Jakovlev.jpg')}}">
        </div>
            <br>
        <p>
            Русские националисты в большинстве своём относятся к этому деятелю нейтрально или отрицательно, подчёркивая его роль в распаде СССР 
            и, как следствие, утрате Россией жизненного пространства, ресурсов и влияния в мире.
        </p>
            <br>
        <p>
            Точнее, плохо к Горбачёву относятся националисты нашего времени. А вот тогдашние националисты в него и его политику верили. По крайней 
            мере, сначала. Горбачев польстил русским националистам, назначив либерального националиста Залыгина редактором журнала «Новый Мир», а 
            консервативного националиста Петра Проскурина — главой Российского фонда культуры. Движение «Память» именно при Горбачёве, в конце 
            1986 года, окончательно стало националистическим и право-настроенным. В 1987 году оно провело марш в защиту Перестройки. Следует 
            отметить, что аналогичный марш демократов (то есть либералов) власти критиковали, а вот против позиции «Памяти» высказываться не стали. 
            Но в скором времени русские националисты стали разочаровываться в Горбачёве. Здесь всё очень просто. И генсек, и националисты были за 
            перемены. Однако Горбачёв стремился идти по Западному пути развития. Но Запад — органическая антитеза идее «Святой Руси», которой 
            следуют русские националисты (в большинстве случаев). Это противоречие было только началом в отходе русских правых от позиции генсека 
            Горбачёва. Проводимая советским лидером политика гласности привела к тому, что пробудилось самосознание народов советских республик. 
            Националисты Прибалтики, Украины, Средней Азии, Кавказа вышли из подполья и сразу же воспользовались случаем, быстро сделав своими 
            сторонниками разношёрстное население своих местностей. (Вспомним, хотя бы, грузинского националиста Звиада Гамсахурдия — он был 
            поддержан всеми — от интеллигентов до маргиналов). Разумеется, больнее всего ситуация ударила по русским в этих республиках. В одной 
            из наших записей мы рассказывали о том, каким притеснениям подвергались русские в это тяжёлое время. Горбачёв не только не смог решить 
            вопрос с межнациональным миром (речь не о толерантности, а именно о мире), но и решил его наихудшим образом: послал на усмирение 
            восстаний и митингов части армии и МВД, сформированные главным образом из русских. Это негативно сказалось на и без того отрицательном 
            образе русских в национальных окраинах. Теперь находятся люди, считающие кровную месть русскому народу целью своей жизни.
        </p>
            <br>
        <p>
            Тем временем русское национальное движение продолжало жить и развиваться. Наиболее положительно оно оценило ослабление давления 
            государства на Русскую Православную Церковь (в 1988 году отмечалось тысячелетие Крещения Руси). Идеи о роли православия в русском 
            самосознании и в русском национальном движении были усвоены националистами (прежде всего — «Памятью») изначально. От правых их 
            идеология требует вероисповедания в принципе (хотя практика показывает, что не все из них считают этот пункт обязательным). Однако 
            православие по разному воспринималось националистами в разное время. Так, “Память” до 1989 года шла в русле т. н. 
            «национал-большевизма». Советские идеи они считали верными, а русский народ полагали в основание нового порядка. Но с 1989 года они 
            стали сторонниками теории официальной народности. Это знаменитая триада «Православие, Самодержавие, Народность». Со временем 
            националисты, флагманом которых была «Память», пришли к идее «православного царства». Из большевиков правого толка они стали 
            религиозными монархистами. Это, кстати, объясняет, почему советские лидеры не уничтожили «Память»: изначально её считали 
            представителями правого крыла социалистической идеологии. А когда режим осознал конфликт с «Памятью», он стал действовать единственным 
            доступны для себя методом — создавать, скажем так, «фейковые аккаунты» «Памяти» для дискредитации оригинального движения. Этим 
            занималось Пятое управление КГБ. В 1990 году от «Памяти» откололось «Русское национальное единство» Баркашова. Примечательно, что обе 
            организации имели почти идентичную идеологию (разве что РНЕ проявляло меньше монархических симпатий).
        </p>
            <br>
        <p>
            В 1991 году произошло два события, завершивших распад СССР — Августовский путч (путч ГКЧП) и подписание Беловежские соглашения. 
            Эти события раскололи русских националистов на поддержавших Ельцина («хоть с чёртом, но против совка») и его противников 
            («крах СССР = крах России»). Но симпатии националистов к Ельцину быстро угасли, он не оправдал ожиданий. Деструктивные процессы при 
            нём лишь усилились. Во время конституционного кризиса 1993 года националисты были по одну сторону баррикад с защитниками 
            Верховного Совета — сторонниками Руцкого и Хасбулатова. Именно те роковые дни — 3-4 октября 1993 года — родили Россию нашего времени, 
            со всеми её противоречиями и бедами.
        </p>
            <br>
        <p>
            В то время русские националисты стали приобретать нежелательную ассоциацию с нацистами (такие действительно представители среди них 
            были, но ими были не все поголовно). Их стали воспринимать как проекцию того зла, которое было осуждено в Нюрнберге, на новые 
            российские реалии, и этот клишированный негативный образ используется до сих пор для критики. Вот типичное для того времени мнение:
        </p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/NaciolismHistory/Leonid.jpg')}}">
        </div>
            <br>
        <p>
            Кстати, этот же Радзиховский высказывался против присоединения Крыма и всегда ратовал за «демократические ценности». Но даже если бы 
            г-н Радзиховский был национал-патриотом, русским националистам пришлось бы искать пути выхода из ситуации, им нужно было развивать 
            своё движение. Поиск путей дальнейшего развития занял оставшуюся часть девяностых. Уже тогда проявилась главная негативная черта — 
            отсутствие единства движения. Эта особенность до сих пор не даёт русским правым организовать единое движение, которое могло бы 
            вклиниться в политическую систему России в качестве партии, предлагающей альтернативу действующей системе. Эх…
        </p>
            <br>
        <p>
            К тому времени Национально-патриотический фронт «Память» окончательно занял традиционалистическую позицию, везде пытаясь найти 
            происки «жидомасонского заговора». Собственно, последним общество стало заниматься ещё до Горбачёва, но после распада СССР идея о 
            заговоре против России масонов/сионистов/врагов народа/спекулянтов/империалистических разведок оказалась на редкость живучей (это её 
            свойство мы наблюдаем до сих пор). Радикализм Общества, его стремление во всех бедах страны обвинить коварных жидомасонов нашли 
            отражение в творчестве русских рок-музыкантов.
        </p>
            <br>
        <blockquote class="idea-block-2">
            <div class="idea">
                <p>«Общество «Память» — святой наш отец,</p>
                <p>Нас поведёт раздирать и колоть».</p>
            </div>
            <div class="idea-author">Егор Летов, песня «Общество «Память»</div>
        </blockquote>
            <br>
        <blockquote class="idea-block-2">
            <div class="idea">
                <p>Говорят, что такие как ты,</p>
                <p>Сохраняют природный баланс.</p>
                <p>Ты рыдаешь на собраниях общества «Память» –</p>
                <p>Может быть, это тоже шанс.</p>
            </div>
            <div class="idea-author">Из песни группы «ДДТ» «Перестроище»</div>
        </blockquote>
            <br>
        <p> 
            В конце 1990-х годов «Память» пришла к идеологии изоляционизма, нужного для искоренения западного влияния на Россию как в плане 
            материально-экономическом, так и в плане культурного проникновения. По сути, движение ратовало за православный абгрейд 
            северо-корейского режима, разве что в несколько смягчённой форме. В 1999 году РНЕ Баркашова почти дошло до участия в думских 
            выборах, однако было снято с голосования.
        </p>
            <br>
        <p>
            В конце девяностых Россия столкнулась с массовым движением националистически настроенных скинхедов. Они под лозунгом «Россия для 
            русских» убивали и колечили мигрантов из Закавказья и Средней Азии. Если говорить о социальном составе этого движения, то его 
            представители, как правило, — жители спальных районов в возрасте 17-20 лет из небогатых семей. Немногие из них вдавались, что 
            называется, во все подробности русского национализма, для них главным был выплеск энергии, а не впитывание идей. Идея в их 
            деятельности играла важную роль, будучи лишь стартером, а не колёсами. Стоит отметить, что зачастую о русских националистах судят 
            именно по скинхедам, что не всегда является основанием для верной оценки деятельности первых.
        </p>
            <br>
        <p>
            Но это всё — сплошь правые движения. А теперь нужно упомянуть о таком странном феномене, как национал-большевики. В 1993 году бывший 
            диссидент Эдуард Лимонов создал свою Национал-большевистскую партию (ныне запрещена в России). Это движение совмещало ультралевые и 
            ультраправые идеи. Видную роль в создании партии, помимо Лимонова, сыграли философ Александр Дугин и музыкант Егор Летов. Но Дугин 
            покинул НБП в 1998 году, а Летов с приходом к власти Путина перестал заниматься политикой. В 2001 году Лимонов был арестован и отсидел 
            в тюрьме два года за терроризм. Всё это привело к расколу НБП и её деградации как системы.
        </p>
            <br>
        <p>
            Таким был русский национализм 1980-1990-х гг. Он сочетал в себе всё и всё исключал, искал путь к власти, а главное, стремился 
            заставить каждое русское сердце биться в ритме Единой и Неделимой России. Можно осуждать методы, которыми действовали националисты 
            того времени, но в основе всего национального движения русского народа лежала его широкая душа, его стремление не существовать, а 
            жить, и живя, быть.
        </p>
    </div>
{% endblock %}