{% extends "blogtemplate.html" %}

{% block inner %}
    <div class="blog-text">
        <blockquote class="idea-block-1">
            <div class="idea">
                <p>Мы желаем звездам тыкать,</p>
                <p>Мы устали звездам выкать,</p>
                <p>Мы узнали сладость рыкать.</p>
            </div>
            <div class="idea-author">Велимир Хлебников</div>
        </blockquote>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_imgs/NaciolismHistoryII/NaciolismHistoryII.jpg')}}">
        </div>
            <br>
        <p>
            Итак, нам уже известны условия, в которых родился русский национализм. Известно и его развитие в годы власти Ельцина. Это было время 
            становления русского национализма. Но за два часа до нового 2000 года Россию возглавил правящий поныне Владимир Путин. В нашей истории 
            начался качественно новый период. При новом правителе начался новый виток в развитии русского национализма. В этой статье будет 
            рассмотрено развитие данной идеологии с 2000 года до года возвращения Крыма.
        </p>
            <br>
        <p>
            К концу девяностых годов русские националисты окончательно отходят от одобрительных оценок СССР сталинского периода, зарождаются 
            зёрна его критики. На рубеже веков наблюдается обращение националистов разных звеньев (от левых до правых) к идее об имперской сути 
            России и верховном статусе русского народа в ней. Эта идеология в более развёрнутом виде формулируется следующим образом. Политический 
            удел России — быть одной из великих держав (являясь при этом духовным ориентиром для всех), определять судьбы мира. Она должна быть 
            устроена «для русских и по-русски», но при этом никто не отменяет её многонациональный состав. Никакой «ловушки Джокера» тут нет, ибо 
            русский народ мыслится фундаментом государственного здания и нитью, связывающей все народы России в их стремлении к счастью, 
            благополучию и величию Отечества, общего для всех. В единстве с принятой ранее мыслью о «православном царстве» это давало идею о том, 
            что главная цель для националистов — создание «Россiи будущаго вѣка», спасение души и подготовка людей к наступлению вечного Царства 
            Божьего. Если учитывать ещё и это убеждение, то национализм, политическое величие и т. д. — лишь средство к достижению цели, где 
            цель — спасение души. Но, в условиях охлаждения людей к вере и религии, когда «вера в отсутствие веры» и агностицизм заполняют место, 
            откуда ушло православие, идеология «православного царства» стала некой утопией, программой-максимум. Это не совсем плохо: большие 
            требования предоставляют возможность несколько, на незначительное расстояние, отступить от декларируемого абсолюта, при этом 
            достигнув выполнения главных, основных задач.
        </p>
            <br>
        <p>
            Приход к власти Владимира Путина сделал большую часть русских националистов союзниками государства, и доброжелательные отношения 
            сохранялись все два срока нового президента и даже при его ставленнике Медведеве. Путину удалось снискать поддержку русских правых 
            благодаря, главным образом, разгрому бандитской республики Ичкерия, что решило вопрос чеченского сепаратизма, и наведению порядка. 
            Русские националисты одобрили также действия России в Грузии в августе 2008 года. Помимо силовых операция новой власти, националистов 
            привлекало то, что Путин последовательно выстроил новую вертикаль власти, ключевым звеном которой стало то, что представлять 
            президента стали на уровне учреждённых федеральных округов, заполнивших пропасть между федеральным центром и субъектом и очень 
            напоминающих имперские генерал-губернаторства. Региональные элиты, склонные порою к сепаратизму, потерпели поражение.
        </p>
            <br>
        <p>
            Первое десятилетие нового века стало временем надежд, политического и экономического развития России. К 2010 году Россия достигла 
            удвоения ВВП, кратно вырос государственный бюджет. При этом она не смогла преодолеть такие “радости” капитализма, как социальное 
            расслоение и безработица. Безработица может работать и как стимул к развитию производства, но 15 лет назад отмечалась деградация 
            промышленности и примитивизация хозяйства.
        </p>
            <br>
        <blockquote class="idea-block-2">
            <div class="idea">
                Российская экономика растёт и при этом деградирует… Что России нужно? Структурная перестройка – фактически новая индустриализация
                теперь уже не на зверско-командной, а на нормальной рыночной основе. Но для этого необходимы систематические крупные госрасходы. 
                Копить на чёрный день бессмысленно, чёрный день уже наступил, и давно! Если и нужен нам какой-то фонд, то пусть это будет фонд 
                развития – единственное средство против сползания страны в технологическое захолустье.
            </div>
            <div class="idea-author">Руслан Гринберг, экономист. Из из заметки в газете «Аргументы и Факты», 2006 год.</div>
        </blockquote>
            <br>
        <p>
            К концу первого десятилетия многие надежды не оправдались. Националисты начали постепенно отходить от провластных позиций. В 2011 
            году они уже окажутся по ту сторону баррикад.
        </p>
            <br>
        <p>
            2011-2012 гг. вообще образуют достаточно интересный пласт в истории России в плане изучения оппозиционного движения. Историческая 
            справка о протестах тех годов мало кому интересна, как учебник истории в принципе. Но интересна одна деталь. 4 ноября 2011 года 
            националистическая организация «Русские» объявила о том, что через месяц — 4 декабря — проведёт масштабную акцию протеста. Но 4 
            декабря стало датой начала протестов, в которых приняли участие самые разные политические силы. Как говорится, выводы делайте сами. 
            И пусть те протесты не принесли плодов, но русские националисты смогли показать себя, а главное, — доказать, что они пережили ещё 
            одно десятилетие.
        </p>
            <br>
        <p>
            Именно в конце первого — начале второго десятилетий нашего века мы наблюдаем у ряда политических движений формирование комплексной 
            исторической идеологии и политики. Это неразрывно связано с разочарованием в политике Путина и вызванным этим стремлением найти 
            что-нибудь актуальное в прошлом.
        </p>
            <br>
        <blockquote class="idea-block-2">
            <div class="idea">
                Почему люди так любят изучать свое прошлое, свою историю? Вероятно, потому же, почему человек, споткнувшись с разбега, любит, 
                поднявшись, оглянуться на место своего падения.
            </div>
            <div class="idea-author">Василий Ключевский, историк</div>
        </blockquote>
            <br>
        <p>
            Именно тогда социалисты начали идеализировать СССР, русские националисты и консерваторы — Российскую Империю, а либералы вообще стали 
            говорить что история России — это история болезни, и ничего хорошего в ней нет и искать не нужно. Русские националисты отличаются также 
            одобрительными оценками Белого движения (сия тема достойна отдельной статьи и по понятным причинам развернуть её тут не удастся). Эта 
            деятельность — свойственное конкретной идеологии преподношение одного периода в истории — имеет место быть до сих пор и ей только 
            предстоит оформиться в что-нибудь системное.
        </p>
            <br>
        <p>
            Что касается движений русских националистов, то их стало становиться только больше, что и определило сегодняшнюю их 
            децентрализованность как части политической реальности. Если раньше НПФ «Память» был локомотивом движения, то кроме него появились 
            Русское национальное движение, националистическая организация «Русские» и многие другие.
        </p>
            <br>
        <p>
            Несмотря на арест и тюремное заключение Эдуарда Лимонова (2001-2003 гг.), Национал-Большевистская Партия не стала призраком из 
            девяностых. Точнее, она стала призраком, но весьма осязаемым: за неполные 9 лет (август’99 — июнь’08) она совершила 13 захватов 
            зданий в 3 государствах (Литва, Украина и Россия; если посчитать торговое представительство Германии, список составит 4 строки). 
            В 2006 году партии в пятый раз было отказано в регистрации, а через год она была официально запрещена. В 2010 году бывшие члены НБП 
            основали партию «Другая Россия», которая почти полностью переняла идеологию НБП и включает в себя тех, кто ранее поддерживал НБП. 
            Как говорится, когда тебя забанили, но у тебя есть много фейков. Примечательно то, что «Другая Россия» имеет свою боевую организацию.
        </p>
            <br>
        <p>
            Однако молодому поколению националистов, а скорее всего, именно его представители и читают эту статью, более известен Егор Просвирнин 
            (более известен как Егор Погром), основавший в 2012 году националистическое ВК-сообщество, а затем и сайт под названием «Спутник и 
            Погром».
        </p>
            <br>
        <blockquote class="idea-block-2">
            <div class="idea">
                Название родилось из шутки: если бы в России был настоящий националистический журнал, его стоило бы назвать «Спутник и погром», 
                потому что спутник — это триумф разума, а погром — разгул народной стихии. В синтезе модернизма спутника с архаикой погрома 
                рождается постсоветская русская идентичность, которой нам всем так не хватает. При этом и «погром», и «спутник» — из немногих 
                русских слов, перекочевавших в другие языки и ставших частью общечеловеческого смыслового поля. Идеальное сочетание русского и 
                интернационального, аполлонического и дионисийского — что может быть лучше?
            </div>
            <div class="idea-author">Егор Погром, из интервью интернет-изданию журналу «Собака.ru»</div>
        </blockquote>
            <br>
        <p>
            Деятельность господина Просвирнина составляет весьма примечательную страницу в истории русского национализма уже в период с 2014 
            года до наших дней, о чём речь пойдёт в следующей статье.
        </p>
    </div>
{% endblock %}