{% extends "blogtemplate.html" %}

{% block inner %}
    <div class="blog-text">
        <p class="bold">
            Каждый год, 18 июля, в день рождения Нельсона Манделы, ООН призывает людей во всем мире отметить Международный день Нельсона 
            Манделы, сделав что-нибудь полезное для других людей и своей общины.
        </p>
            <br>
        <p>
            Сама концепция праздника не так уж и плоха, а образ Нельсона Мандэлы на сегодняшний день, является очень почитаемым как в Европе и на 
            западе, так и по всему миру. Говоря о нём, люди представляют самоотверженного борца за человеческие права, который с добродушной улыбкой 
            на лице отважно пожертвовал собой ради счастья других людей, но как и у большинства левых лидеров, у него есть кровавое прошлое, о 
            котором необходимо напоминать. Давайте же абстрагируемся от образа добродушного старичка и взглянем на жестокого террориста, который 
            не стеснялся убивать женщин и детей ради своей идеологии.
        </p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/NelsonMandela/NelsonMandela.jpg')}}">
        </div>
            <br>
        <p>Мандэла был главой террористического крыла Африканского национального конгресса и Коммунистической партии Южной Африки.</p>
            <br>
        <p>
            При аресте лидеров АНК на ферме в Ривонии поблизости с Йоханнесбургом, где они скрывались от властей, были обнаружены следующие 
            боеприпасы и оборудование для производства бомб: 210,000 ручных гранат; 48,000 противопехотных мин; 1,500 устройств отсчета времени; 
            144 тонны аммиачной селитры; 21 тонна алюминиевой пудры; 4 тонны пороха. На суде со стороны обвинения утверждалось, что этих запасов 
            хватило бы, что бы взорвать город размером с Йоханнесбург. Позже Мандэла начнёт его взрывать.
        </p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/NelsonMandela/photoes.jpg')}}">
        </div>
            <br>
        <p>На суде он признал свою вину в 156 террористических актах. 21000 свидетелей дали свои показания.</p>
            <br>
        <p>
            В своей знаменитой речи он заявляет, что он «готов умереть» ради своих идеалов, но многие забывают, что так же, он готов обрекать на 
            смерть ни в чём невинных людей.
        </p>
            <br>
        <p>
            Уже находясь за решёткой он продолжил свою террористическую деятельность. Он планировал и заказывал убийства, бомбардировки и теракты, 
            во время которых погибали женщины и дети. В тюрьме ему ни раз предлагали свободу взамен на отказ от насильственных методов, но он упорно 
            от этого отказывался.
        </p>
            <br>
        <p>
            Вот некоторые террористические акты в планировании которых он принял участие:
        </p>
        <ul>
            <li>
                20 мая 1983 г. – бомба на Черч-стрит, Претория; убито: 19 человек – 17 мужчин, две женщины (8 чернокожих, 9 белых), 
                более 200 человек пострадало.
            </li>

            <li>
                Взрыв в торговом комплексе в Аманзимтоти 23 декабря 1985 года
            </li>
            <li>
                Взрыв в Йоханнесбургском магистратском суде, 20 мая 1987 года
            </li>
        </ul>
            <br>
        <p>Видео с кадрами с мест терактов, <a class="bold" href="https://www.youtube.com/watch?v=7GhPmys_QFw" target="_blank">контент строго 18+</a></p>
            <br>
        <p>
            Можно продолжать перечисления, но названия этих улиц и даты всё равно ни о чём не говорят. Во время написания статьи я пытался 
            придерживаться более официальной формы и не давать места чувствам, но это не тот случай в котором стоит скрывать эмоции, на ум приходит 
            только одно слово — <strike class="bold">пиздец</strike>.
        </p>
            <br>
        <p>
            Оторванные конечности, лужи крови, детей без сознания несут на руках работники скорой помощи, всё это на фоне раскуроченных от взрыва 
            машин, всё это запечатлено, задокументировано и обнародовано, а человеку, который всё это организовал, по сей день ставят памятники. 
            Сложно осознавать, что некогда великая Европа пришла к восхвалению бандитов-психопатов, убивавших собственный народ. Этому же человеку 
            вручили нобелевскую премию мира, и это называется миром? 156 актов насилия!
        </p>
            <br>
        <div class="row">
            <div class="img">
                <img src="{{url_for('static', filename='content/blog_media/NelsonMandela/Nelson.jpg')}}">
            </div>
            <p>
                Сейчас, когда его партия уже много лет находится у власти, мы видим сокрушительные последствия левых идеалов Мандэлы: страна 
                находится в бедствии, номенклатура стоит превыше своего народа ( что свойственно любой практике коммунизма ) сильнее чем при 
                апартеиде, происходит геноцид белого населения, а так же достигнут самый высокий уровень убийств и преступлений за всю историю 
                Южной Африки. Но несмотря ни на что, люди продолжают отмечать праздник олицетворяемый этим «освободителем».
            </p>
        </div>
    </div>
{% endblock %}