{% extends "blogtemplate.html" %}

{% block inner %}
    <div class="blog-text">
        <p>Мнения по поводу русской культуры и её нынешнего состояния весьма противоположны. 
            Русофилы, патриоты считают русскую культуру богатейшей в мире, русофобы ставят под сомнение порою сам факт её существования. 
            Но это всё – ретроспективы. В этой записи речь пойдёт о русской культуре дня сегодняшнего.
        </p>
            <br>
        <p>
            Нет, мы не о хип-хопе, не о роке, не об альтернативе, не о живописи, не о стихах. Мы говорим сейчас о форме, в которой подаётся культура. 
            Признаем, что содержание культуры определяет культуру как таковую, но форма, а точнее её простота и доступность, идут рука об руку с содержанием. 
            Зачастую простота культуры побеждает содержание. Возьмём литературу. Что более доступно простому человеку – приключенческий роман или роман философский? 
            Конечно, приключенческий, ведь он захватывает. Что слушают больше – хип-хоп или академическую музыку? Разумеется, хип-хоп, ведь он проще (ничего против этого жанра не имеем-с). 
            Обратимся к кулинарной культуре – что вы предпочтёте – гамбургер или тарелку супа/борща? Конечно, тут всё может зависеть от ситуации 
            (идя по улице, трудно есть борщ), но вкусовые преимущество остаются за гамбургером, как, увы, и вред здоровью.
        </p>
            <br>
        <p>
            Речь идёт о том, что русская культура, значительно выигрывая по содержанию, стала (это заметно в последние 2-3 десятилетия) значительно проигрывать в форме. 
            Мы наблюдаем, в этой связи, значительное вытеснение русской культуры из души русского человека. Но это ещё полбеды! 
            Вся беда заключается в том, что русская культура перестаёт быть привлекательной, уступая по данному параметру культуре Западного мира. 
            Можно, конечно, сослаться на то, что примеры требуемой простоты в отечественной культуре есть. Это лишь доля правды, ибо за простотой не следует глубокое содержание.
        </p>
            <br>
        <p>
            Но как, спросите Вы, можно мысль Достоевского заключить в трёхминутную песню? Существует целый жанр литературы, который серьёзные мысли преподносит в лёгкой и краткой форме – притча. 
            И именно по образу и подобию притчи должна строиться русская культура будущего – так, обретая доступность, она не утратит глубину нравственного посыла, издревле присущую ей.
        </p>
            <br>   
        <p>
            Наконец, в данном вопросе мы не претендуем на 100%-ную объективность. Вопрос с нынешним состоянием нашей культуры (в самом широком смысле этого слова) является одним из тех, ответ на которые не поместишь в одной записи. И даже в одной статье. 
        </p>
            <br>
        <div class="img">
            <img src="{{url_for('static', filename='content/blog_media/RussianProblems/rusproblems.jpg')}}">
        </div>
    </div>
{% endblock %}